@charset "ISO-8859-1";

tbody td:first-child {
	color: black !important;
	text-decoration: none !important;
}

.clickable:hover, .link, td:last-child:hover, button,
	input[type='submit'], input[type='checkbox'] {
	cursor: pointer !important;
}

tbody tr:hover {
	color: #222 !important;
	background: orange !important;
}

.link, td:last-child {
	color: blue;
	text-decoration: underline;
}

.gone {
	display: none;
}

.col-center {
	float: none;
	margin: 0 auto;
}

.input-block {
	width: 360px;
}

.dt-center {
	white-space: nowrap;
	overflow: visible;
}

#homeContainer {
	width: 99% !important;
}

table {
	table-layout: fixed;
}

tbody td {
	overflow: hidden; /* this is what fixes the expansion */
	white-space: nowrap;
	text-overflow: ellipsis;
}
