<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Reimbursement_project</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.project1.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.project1.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.project1.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.project1.servlets.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/homePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEmpServlet</display-name>
    <servlet-name>AllEmpServlet</servlet-name>
    <servlet-class>com.project1.servlets.AllEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmpServlet</servlet-name>
    <url-pattern>/allEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReqServlet</display-name>
    <servlet-name>SubmitReqServlet</servlet-name>
    <servlet-class>com.project1.servlets.SubmitReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReqServlet</servlet-name>
    <url-pattern>/submitRequest</url-pattern>
  </servlet-mapping>
</web-app>