<div>
	<button id="AddEmpButt">Add New Employee</button> <br>
	<div id="AddDiv" style="display: none">
		<input type="text" id="AddFirst" placeholder="First Name"/> <br>
		<input type="text" id="AddLast" placeholder="Last Name"/> <br>
		<input type="text" id="AddEmail" placeholder="Email"/> <br>
		<input type="checkbox" id="AddMan"/> Manager?<br>
		<button id="AddEmpButtSub">Submit</button> <br>
	</div>
	<table id="AccTable" class="display">
		<thead>
		</thead>
		<tbody id="AccTableBody">
		</tbody>
	</table>
</div>