<div>
	<div class="displayDivs">
		<br>
		<br>
		<h1 class="MarkerText">All Reimbursement Overview</h1>
		<br>
		<div class="ReimStats">
			<span class="displayText"> Pending: </span>
			<span id="penNum" class="numberText" style="color: blue;">NULL</span>
		</div>
		<br>
		<div class="ReimStats">
			<span class="displayText"> Approved: </span>
			<span id="appNum" class="numberText" style="color: green;">NULL</span>
		</div>
		<br>
		<div class="ReimStats">
			<span class="displayText"> Denied: </span>
			<span id="denNum" class="numberText" style="color: red;">NULL</span>
		</div>
	</div>
</div>