<div>
	<div class="displayDivs">
		<br>
		<h1 class="MarkerText">Reimbursement Resolver</h1>
		<br>
		<button class="btn btn-primary" id="AddNoteButt">Add a Resolution Note</button>
		<div id="NoteDiv" style="display: none;">
			<br>
			<textarea rows="10" cols="100" placeholder="Write Reasons here for next Resolve" id="resNoteDesc"></textarea>
		</div>
		<br>
		<table id="ReimTable" class="display">
			<thead>
			</thead>
			<tbody id="ReimTableBody">
			</tbody>
			<label><input type="checkbox" checked="checked" id="ResCheck"/> Show Resolved</label>
		</table>
	</div>
</div>