<div>
	<table id="SetTable">
		<thead>
			<tr>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody id="SetTableBody">
			<tr>
				<td id="SetEmail">Temp</td>
				<td id="SetFirst">Temp</td>
				<td id="SetLast">Temp</td>
				<td id="SetPass">Temp</td>
			</tr>
		</tbody>
	</table>
	<br>
	<button id="SetPassButt">Update Information</button>
	<br>
	<p id="SetUpText" style="display: none; color: red">Password Required (For authentication / renewal)</p>
	<br>
	<input type="text" id="SetUpEmail" placeholder="New Email" style="display: none;"/>
	<br>
	<input type="text" id="SetUpFirst" placeholder="New First Name" style="display: none;"/>
	<br>
	<input type="text" id="SetUpLast" placeholder="New Last Name" style="display: none;"/>
	<br>
	<input type="password" id="SetUpPass" placeholder="New / Old Password" style="display: none;"/>
	<br>
	<input type="password" id="SetUpPassCon" placeholder="Old Password" style="display: none;"/>
	<br>
	<input type="submit" id="SetUpSubmit" style="display: none;"/>
</div>