
<div>
	<input type="text" id="editFirstName" placeholder="First Name"><br>
	<input type="text" id="editLastName" placeholder="Last Name"><br>
	<input type="text" id="editEmail" placeholder="Edit Email"><br>
	<input type="password" id="setNewPassword" placeholder="New Password"> <p>Leave blank to keep your current password</p><br>
	<input type="password" id="confirmNewPassword" placeholder="Confirm Password"> <p>Leave blank to keep your current password</p><br>
	<input type="password" id="enterCurrentPassword" placeholder="Current Password"> <p>Enter your current password to authorize changes</p><br>
	<button id="btnSubmitNewInfo">Submit Changes</button>
</div>