
<div>
	<input type="text" id="editFirstName" placeholder="First Name"><br>
	<input type="text" id="editLastName" placeholder="Last Name"><br>
	<input type="text" id="editEmail" placeholder="Edit Email"><br>
	<input type="password" id="setNewPassword" placeholder="New Password"><br>
	<input type="password" id="confirmNewPassword" placeholder="Confirm Password"><br>
	<input type="password" id="enterCurrentPassword" placeholder="Current Password"><br>
	<button id="btnSubmitNewInfo">Submit Changes</button>
</div>