<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <servlet>
    <description></description>
    <display-name>GetUserInfoServlet</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.ers.servlets.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfoServlet</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>com.ers.servlets.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawRequestServlet</display-name>
    <servlet-name>WithdrawRequestServlet</servlet-name>
    <servlet-class>com.ers.servlets.WithdrawRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawRequestServlet</servlet-name>
    <url-pattern>/WithdrawRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolveRequestServlet</display-name>
    <servlet-name>ResolveRequestServlet</servlet-name>
    <servlet-class>com.ers.servlets.ResolveRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolveRequestServlet</servlet-name>
    <url-pattern>/ResolveRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPasswordServlet</display-name>
    <servlet-name>CheckPasswordServlet</servlet-name>
    <servlet-class>com.ers.servlets.CheckPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPasswordServlet</servlet-name>
    <url-pattern>/CheckPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>