<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <servlet>
    <description></description>
    <display-name>GoHomeServlet</display-name>
    <servlet-name>GoHomeServlet</servlet-name>
    <servlet-class>com.ers.servlets.GoHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoHomeServlet</servlet-name>
    <url-pattern>/GoHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet2</display-name>
    <servlet-name>MainServlet2</servlet-name>
    <servlet-class>com.ers.servlets.MainServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet2</servlet-name>
    <url-pattern>/MainServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTablesServlet</display-name>
    <servlet-name>GetTablesServlet</servlet-name>
    <servlet-class>com.ers.servlets.GetTablesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTablesServlet</servlet-name>
    <url-pattern>/GetTablesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfileServlet</display-name>
    <servlet-name>GetProfileServlet</servlet-name>
    <servlet-class>com.ers.servlets.GetProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfileServlet</servlet-name>
    <url-pattern>/GetProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAddUserServlet</display-name>
    <servlet-name>GetAddUserServlet</servlet-name>
    <servlet-class>com.ers.servlets.GetAddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddUserServlet</servlet-name>
    <url-pattern>/GetAddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.ers.servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTableServlet</display-name>
    <servlet-name>GetTableServlet</servlet-name>
    <servlet-class>com.ers.servlets.GetTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTableServlet</servlet-name>
    <url-pattern>/GetTableServlet</url-pattern>
  </servlet-mapping>
</web-app>