<h1>List of All Reimbursement Users</h1>
<div>
<h3>Create New User Form:</h3>
UserName:<input type="text" id="un"/>
FirstName:<input type="text" id="fn"/>
LastName:<input type="text" id="ln"/>
Email:<input type="text" id="email"/>
Password:<input type="text" id="pwd"/>
	<select id="role">
  		<option value="employee">Employee</option>
  		<option value="manager">Manager</option>
	</select>
<input type="submit" id="create" class="btn btn-primary" value="Submit"/>
	<table id="userList" class="table table-striped">
		<tr>
			<th>UserID:</th>
			<th>Username:</th>
			<th>Firstname:</th>
			<th>Lastame:</th>
			<th>Email:</th>
			<th>Mananger:</th>
		</tr>
	</table>
</div>