<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Angular Calculator</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
</head>
<body ng-app="calApp" ng-controller="calCtrl">

	<input type="number" ng-model="fv" />
	<br>
	<button ng-click="ADD(fv, lv)">Add</button>
	<button ng-click="SUB(fv, lv)">Subtract</button>
	<button ng-click="MUL(fv, lv)">Multiply</button>
	<button ng-click="DIV(fv, lv)">Divide</button>
	<br>
	<input type="number" ng-model="lv" />
	<br>

	<table class="table table-striped">
		<thead>
			<th>First Value</th>
			<th>Second Value</th>
			<th>Operation</th>
			<th>End Value</th>
		</thead>
		<tbody>
			<tr ng-repeat="cal in cals">
				<td>{{cal.firstval}}</td>
				<td>{{cal.secondval}}</td>
				<td>{{cal.op}}</td>
				<td>{{cal.result}}</td>
			</tr>
		</tbody>
	</table>


	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>
	<script src="JS/AngCalJS.js"></script>
</body>
</html>