<div>
	<div class="form-control">
		<!-- <form action="login" method="post"> -->
		<div >
			<label for="email">Username</label> <input style="width: 60%;" type="text"
				 id="email" class="form-control" >
		</div>
		<div >
			<label for="exampleInputPassword1">Password</label> <input
				style="width: 60%;" type="password" class="form-control" id="password">
		</div>
		<button type="submit" id="loginSubmit" class="btn btn-primary">Login</button>
		<!-- </form> -->

	</div>

	<div id="message"></div>


</div>