<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BankingServlet</display-name>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.servlets.SerHan.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>attemptLoginServlet</servlet-name>
  	<servlet-class>com.servlets.SerHan.AttemptLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LoginSucceed</servlet-name>
  	<servlet-class>com.servlets.SerHan.LoginRun</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>attemptLoginServlet</servlet-name>
  	<url-pattern>/attemptLogin</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>LoginSucceed</servlet-name>
  	<url-pattern>/UserPage</url-pattern>
  </servlet-mapping>
  
</web-app>