<h1>Complete Request List</h1>
<div>
<h3>Resolve Reimbursement Request</h3>
<input type="submit" id="approve" class="btn btn-primary" value="Approve"/>
<input type="submit" id="reject" class="btn btn-alert" value="Reject"/>
	<table id="reqList" class="table table-striped">
		<tr>
			<th>Remib-ID:</th>
			<th>Resolved by:</th>
			<th>Sumbit Date:</th>
			<th>Resolve Date:</th>
			<th>Amount:</th>
			<th>Status:</th>
			<th>Discribition:</th>
			<th>Note:</th>
			<th>Resolve:</th>
		</tr>
	</table>
</div>

<!--
<script>
$("reqList").each(function() {
    $(this).prepend('<input type="checkbox" class="basic-kpi-row"/>');
});
</script>
-->