<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="init">

	<bean id="hiRevature" class="beans.HiRevature">
		<constructor-arg ref="HelloWorld" />
	</bean>

	<bean id="HelloWorld" class="beans.HelloWorld" scope="prototype"
		destroy-method="destroy">

		<property name="message" value="Hello Spring! This is a message" />

		<constructor-arg type="String" value="testing injection" />

	</bean>


</beans>

<!-- -->