<div>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="employeehome.html"><font
					face="Arya">Employee Home</font></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="empreimbursementhist.html"><font face="Arya">Reimbursement
							History</font></a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"><font face="Arya">Profile</font>
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="empprofileview.html"><font face="Arya">View
									Profile</font></a></li>
						<li><a href="empupdateprofile.html"><font face="Arya">Edit
									Profile</font></a></li>
					</ul></li>
				<li><a href="login.html"><font face="Arya">Logout</font></a></li>
			</ul>
		</div>
	</nav>
</div>