<div>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="managerhome.html"><font
					face="Balthazar">Manager Home</font></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"><font face="Balthazar">Employees</font>
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="viewemployees.html"><font face="Balthazar">View
									All</font></a></li>
						<li><a href="addemployee.html"><font face="Balthazar">Add
									New</font></a></li>
					</ul></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"><font face="Balthazar">Reimbursements</font>
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="viewreimbursement.html"><font
								face="Balthazar">View Requests</font></a></li>
						<li><a href="managereimbursement.html"><font
								face="Balthazar">Handle Reimbursements</font></a></li>
					</ul></li>
				<li><a href="login.html"><font face="Balthazar">Logout</font></a></li>
			</ul>
		</div>
	</nav>
</div>