<h1>Your Request List</h1>
<div>
<h3>Sumbit a New Reimbrusment Request Form:</h3>
<p>Reason:</p><input type="text" id="reason"/>
<p>_______</p>
<p>Amount:</p><input type="number" id="amount"/>
<p>_______</p>
<input type="submit" class="btn btn-primary" value="Submit"/>
</div>
<div>
	<table id="reqListEmployee" class="table table-striped">
		<tr>
			<th>Remib-ID:</th>
			<th>Resolved by:</th>
			<th>Sumbit Date:</th>
			<th>Resolve Date:</th>
			<th>Amount:</th>
			<th>Status:</th>
			<th>Discribition</th>
			<th>Note</th>
		</tr>
	</table>
</div>