<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Reimburments</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.reimbursment.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginMessageServlet</display-name>
    <servlet-name>LoginMessageServlet</servlet-name>
    <servlet-class>com.reimbursment.servlets.LoginMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMessageServlet</servlet-name>
    <url-pattern>/LoginMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDashboardServlet</display-name>
    <servlet-name>GetDashboardServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.GetDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDashboardServlet</servlet-name>
    <url-pattern>/GetDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHomeServlet</display-name>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <url-pattern>/EmployeeHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursPageServlet</display-name>
    <servlet-name>ReimbursPageServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.ReimbursPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursPageServlet</servlet-name>
    <url-pattern>/ReimbursPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitServlet</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersInfoServlet</display-name>
    <servlet-name>UsersInfoServlet</servlet-name>
    <servlet-class>com.reimbursments.servlets.UsersInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersInfoServlet</servlet-name>
    <url-pattern>/UsersInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getDashBoard2</display-name>
    <servlet-name>getDashBoard2</servlet-name>
    <servlet-class>com.reimbursments.servlets.getDashBoard2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDashBoard2</servlet-name>
    <url-pattern>/getDashBoard2</url-pattern>
  </servlet-mapping>
</web-app>