.azcenter{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.azborder{
	/*
		add bootstrap rounded
	*/
    padding: 3%;
    border: 1px solid;
	
}

.azheight100{
	height: 100%;
}

.azwidth50{
	width: 50%
}
.azwidth60{
	width: 55%
}
.azwidth60{
	width: 60%
}
.azwidth60{
	width: 65%
}
.azwidth60{
	width: 70%
}
.azwidth75{
	width: 75%
}
.azwidth75{
	width: 80%
}
.azwidth75{
	width: 85%
}
.azwidth75{
	width: 90%
}
.azwidth99{
	width: 95%
}