.azcenter{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.azcentertl25{
	position: absolute;
	position: absolute;
	top: 25%;
	left: 25%;
	transform: translate(-25%, -25%);
}

/*
td{
	font-size: 13px
}*/

/*
table{
	table-layout: fixed;
  	word-wrap:break-word;
}*/

.money{
	text-align: right;
}

input[readonly].form-control {
    background-color: #fff;
}

.azborder{
	/*
		add bootstrap - rounded
	*/
    padding: 3%;
    border: 1px solid;	
}

.azborderr{
	padding-right: 3%;
	border-right: 1px solid;
}

.azpaddingr10{
	padding-right: 10%;
}

.azpaddingl10{
	padding-left: 10%;
}

.azh100{
	height: 100%;
}

.azw50{
	width: 50%
}
.azw55{
	width: 55%
}
.azw60{
	width: 60%
}
.azw65{
	width: 65%
}
.azw70{
	width: 70%
}
.azw75{
	width: 75%
}
.azw80{
	width: 80%
}
.azw85{
	width: 85%
}
.azw90{
	width: 90%
}
.azw95{
	width: 95%
}