.azcenter{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.az.centertl25{
	position: absolute;
	position: absolute;
	top: 25%;
	left: 25%;
	transform: translate(-25%, -25%);
}

.azborder{
	/*
		add bootstrap - rounded
	*/
    padding: 3%;
    border: 1px solid;	
}

.azborderr{
	padding-right: 3%;
	border-right: 1px solid;
}

.azpaddingr10{
	padding-right: 10%;
}

.azpaddingl10{
	padding-left: 10%;
}

.azheight100{
	height: 100%;
}

.azwidth50{
	width: 50%
}
.azwidth55{
	width: 55%
}
.azwidth60{
	width: 60%
}
.azwidth65{
	width: 65%
}
.azwidth70{
	width: 70%
}
.azwidth75{
	width: 75%
}
.azwidth80{
	width: 80%
}
.azwidth85{
	width: 85%
}
.azwidth90{
	width: 90%
}
.azwidth95{
	width: 95%
}