<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HomeworkCode/src/com/ex/hw2FileIO/FileIO.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ex.hw2FileIO.FileIO"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HomeworkCode"/>
</launchConfiguration>
